# Novatrans Unity .gitignore v1.0
# Builded with 2+ years of practice

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]dressables[Cc]ache/
/[Cc]ache/
*.log


/ScenarioEditor/Backups

# Generated

/Assets/Export/
/Assets/Export.meta
/Assets/Generated/
/Assets/Generated.meta
/Assets/Import/
/Assets/Import.meta

/Assets/StreamingAssets/Reports/
/Assets/StreamingAssets/Reports.meta

/Assets/Scenes/Chunks (generated)/
/Assets/Scenes/Chunks (generated).meta
/Assets/Scenes/Utility (generated)/
/Assets/Scenes/Utility (generated).meta

/Assets/Assets/TerrainData/Split/
/Assets/Assets/TerrainData/Split.meta
/Assets/Assets/TerrainData/Split (generated)/
/Assets/Assets/TerrainData/Split (generated).meta
/Assets/Assets/SplinesData/Meshes (generated)/
/Assets/Assets/SplinesData/Meshes (generated).meta
/Assets/Assets/SplinesData/Objects (generated)/
/Assets/Assets/SplinesData/Objects (generated).meta

/Assets/StaticData/generated
/Assets/StaticData/generated.meta

/Assets/Samples/
/Assets/Samples.meta
/Recordings

/Assets/SceneDependencyCache/
/Assets/SceneDependencyCache.meta

# Utility

/Assets/Scenes/Chunks (generated)
/Assets/Scenes/Utility (generated)
/Assets/Assets/TerrainData/Split
/Assets/Assets/TerrainData/Split (generated)

# Addressables Auto Generation

/Assets/AddressableAssetsData
/Assets/AddressableAssetsData.meta


# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# IDE's cache directories
.vs/
.vsconfig
/.idea/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# file: ~/.gitignore_global
.DS_Store
.idea
.idea/
.utmp
.utmp/
/.utmp/
obj/
bin/


# Procedural Worlds Assets
/[Aa]ssets/Procedural Worlds/*

/Assets/Configs/Scenario/Temp.asset
/Assets/Configs/Scenario/Temp.asset.meta

# Some extensions
*.ahbuildinfo
*.DotSettings
*.terrainlayer*

# Novatrans Modules generated files
/[Aa]ssets/[Ss]treamingAssets/Configs/NetModel.ini
/[Aa]ssets/[Ss]treamingAssets/Configs/NetModel.ini.meta
/[Aa]ssets/[Ss]treamingAssets/Configs/AuthIdentityModel.ini
/[Aa]ssets/[Ss]treamingAssets/Configs/AuthIdentityModel.ini.meta

# Taneko Legacy
Assets/StreamingAssets/InstructorAccess.txt
Assets/StreamingAssets/InstructorAccess.txt.meta
Assets/StreamingAssets/InstructorAccess.ini
Assets/StreamingAssets/InstructorAccess.ini.meta

Assets/StreamingAssets/Reports/
Assets/StreamingAssets/Reports.meta
Assets/InstructorAccess.txt

# NuGet
/[Aa]ssets/Packages/*
